*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
/.idea/checkstyleidea-libs
/.idea/markdown-navigator
.DS_Store
/build
/captures
.externalNativeBuild
Thumbs.db
release/
reports/
obj/
gradle/
/gradlew
/gradlew.bat
build/